{% set baseUrl = app.request_stack.currentRequest.baseUrl %}
<html>
<head><title>
        {% block sub_title '' %}
        {% block title 'UpThing' %}
</title></head>
<body>
    <h1>The Image Gallery</h1>
    {% block body %}
        Welcome to The Image Gallery!
    {% endblock %}
</body>
</html>