<html>
<head><title>{% block sub_title '' %}{% block title 'The Image Gallery' %}</title></head>
<body>
  <h1>The Image Gallery</h1>
  {% block body %}
    Welcome to The Image Gallery!
  {% endblock %}
</body>
</html>